input{
  background: #f7f7f7 !important;
  border: 0px solid !important;
  border-radius: 0px !important;
  outline: none !important;

  &:hover{
    background: rgba(43, 43, 43, 0.15) !important;
    border: 1px solid !important;
    border-radius: 0px !important;
    outline: none !important;
  }

  &:focus{
    background: rgba(43, 43, 43, 0.15) !important;
    border: 1px solid !important;
    border-radius: 0px !important;
    outline: none !important;
  }
}